$border-color: #d4d4d4;

.card-subject {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid $border-color;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-subject-container__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid $border-color;
  padding: 0.3rem;
  border-radius: 50%;
}

.card-subject-container__logo > img {
  width: 15px;
}

.card-subject-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.card-subject-time {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-time {
  display: flex;
  gap: 0.5rem;
}
