$tablet-breakpoint: 960px;
$border-color: #e6eaed;

.pagination-container {
  background-color: #fff;
  display: flex;
  align-items: center;
  min-width: min-content;
  max-width: 100%;
  justify-content: start;
  gap: 0.75rem;
  flex-shrink: 0;
}

.pagination-countpage {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.pagination-pagecount {
  display: flex;
  align-items: center;
}

.pagination-countpage__select {
  border: 1px solid $border-color;
  padding: 0.75rem 1.125rem;
  border-radius: 0.5rem;
}

// Media queries
@media screen and (min-width: $tablet-breakpoint) {
  .pagination-container {
    justify-content: space-between;
    width: 100%;
  }
}
