$main-text-color: #7b7a7a;

.current-period {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.current-period__title {
  font-size: 1rem;
  color: $main-text-color;
  font-weight: normal;
}

.current-period__date {
  font-size: 1.2rem;
  font-weight: 600;
}
