$header-table-color: #f9fafb;
$header-table-text-color: #2c3747;
$header-table-border-color: #e6eaed;

table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

.table-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border-width: 1px;
  border-color: $header-table-border-color;
  border-style: solid;
  background-color: #fff;
}

.table-header {
  border-bottom: 1px solid $header-table-border-color;
}

.table-header > tr > th {
  background-color: $header-table-color;
  color: $header-table-text-color;
  text-align: start;
  padding: 1rem;
  font-weight: 600;
}

.header-sorting {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  user-select: none;
  cursor: pointer;
}

.table-body td {
  border-bottom: 1px solid $header-table-border-color;
  padding: 1rem;
}

.header-search {
  display: flex;
  gap: 0.75rem;
}
