// Responsive sizes
// Mobile 375
// Tablet 960
// Desktop 1440

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

.dashboard {
  width: 100%;
  display: grid;
  grid-template-columns: 70px 1fr;
  grid-template-rows: 70px 1fr;
}
